<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.BlogLikedMapper">

    <insert id="saveLike">
        insert into blog_like (like_blog_id,like_post_id,status) values (#{liked_blog_id},#{liked_post_id},#{status})
    </insert>

    <update id="saveLikeCount">
        update blog_info set like_count = #{like_count} where id = #{liked_blog_id}
    </update>
</mapper>