<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.BlogMapper">
    <insert id="publish">
           insert into blog_info (title,content,user_id) values (#{title},#{content},#{user_id})
    </insert>

    <select id="initBlogs" resultType="com.example.demo.model.Blog">
        select * from blog_info
    </select>

    <select id="initUserBlogs" resultType="com.example.demo.model.Blog">
        select * from blog_info where user_id = #{user_id}
    </select>

    <select id="initBlog" resultType="com.example.demo.model.Blog">
        select * from blog_info where id = #{id}
    </select>

    <select id="getBlog" resultType="com.example.demo.model.Blog">
        select * from blog_info where id = #{id}
    </select>

    <update id="modify">
        update blog_info set title = #{title} and content = #{content} where id = #{id}
    </update>
</mapper>
