<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.UserMapper">
   <insert id="add">
       insert into userinfo (username,password)
       values
       (#{username},#{password})
   </insert>

    <select id="login" resultType="com.example.demo.model.UserInfo">
        select * from userinfo where username = #{username}
    </select>

    <select id="myContentInfo" resultType="com.example.demo.model.UserInfo">
        select * from userinfo where id = #{uid}
    </select>

    <select id="selectUsername" resultType="java.lang.String">
        select username from userinfo where id = #{id}
    </select>

    <select id="selectEmail" resultType="java.lang.String">
        select email from userinfo where username = #{username}
    </select>

    <update id="resetPassword">
        update userinfo set password = #{password} where username = #{username}
    </update>

    <update id="bindEmail">
        update userinfo set email = #{email} where id = #{id}
    </update>

    <update id="editNickname">
        update userinfo set nickname = #{nickname} where id = #{id}
    </update>

    <update id="editIntroduction">
        update userinfo set introduction = #{introduction} where id = #{id}
    </update>

    <update id="uploadAvatar">
        update userinfo set avatar_url = #{avatar_url} where id = #{id}
    </update>
</mapper>