<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.BlogMapper">
    <insert id="publish">
           insert into posts (title,content,user_id) values (#{title},#{content},#{user_id})
    </insert>

    <select id="search" resultType="com.example.demo.entity.Blog">
        select * from posts where title like concat('%',#{title},'%')
    </select>

    <select id="initBlogs" resultType="com.example.demo.entity.Blog">
        select * from posts limit #{pageSize} offset #{offset}
    </select>

    <select id="initUserBlogs" resultType="com.example.demo.entity.Blog">
        select * from posts where user_id = #{user_id}
    </select>

    <select id="initBlog" resultType="com.example.demo.entity.Blog">
        select * from posts where id = #{id}
    </select>

    <select id="getBlog" resultType="com.example.demo.entity.Blog">
        select * from posts where id = #{id}
    </select>

    <update id="modify">
        update posts set title = #{title},content = #{content} where id = #{id}
    </update>

    <delete id="deleteBlog">
        delete from posts where id = #{id}
    </delete>

</mapper>
