<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.BlogLikedMapper">

    <insert id="saveLike">
        insert into blog_like (liked_blog_id,liked_post_id,status) values (#{liked_blog_id},#{liked_post_id},#{status})
    </insert>

    <update id="updateLike">
        update blog_like set status = #{status} where liked_blog_id = #{liked_blog_id} and liked_post_id = #{liked_post_id}
    </update>

    <select id="getLike" resultType="com.example.demo.entity.BlogLike">
        select * from blog_like where liked_blog_id = #{liked_blog_id} and liked_post_id = #{liked_post_id}
    </select>

    <update id="saveLikeCount">
        update blog_info set like_count = #{like_count} where id = #{liked_blog_id}
    </update>
</mapper>