<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.DraftMapper">
  <select id="selectAll" resultType="com.example.demo.model.DraftInfo">
      select * from draftinfo;
  </select>

  <insert id="saveDraft">
     insert into draftinfo(title,content,uid)
     values(#{title},#{content},#{uid});
  </insert>

  <select id="selectDraftById" resultType="com.example.demo.model.DraftInfo">
      select * from draftinfo where id = #{id}
  </select>

  <delete id="deleteDraftById">
      delete from draftinfo where id = #{id}
  </delete>

  <update id="updateDraftById">
      update draftinfo set title = #{title} , content = #{content} where id = #{id}
  </update>
</mapper>